.canvasDiagram {
  canvas {
    transform: rotate(270deg);
  }
}

/*
.columns {
  display: flex;
  align-items: center;
  > div {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
}

.dial {
  border-color: #22262f;
  color: #689F38;
  display: inline-block;
  text-align: left;
  p {
    text-align:center;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0;
  }
  canvas {
    position: absolute;
  }
}
!* разные цветовые схемы *!
.dial {
  &.error {
    color: #d46d71;
    p {
      color: #d46d71;
    }
  }
  &.success {
    color: #689F38;
    border-color: rgba(#d46d71, 0.4);
    p{
      color: #689F38;
    }
  }
  &.blue {
    color: #1390d4;
  }
}*/
